<div class="container">

    <div class="ig_page">
        <div>
            <a href="https://www.instagram.com/paperkoda?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="../assets/img/paperKoda.jpg" alt="PaperKoda Profile Picture" ></a>
        </div>
        <div>¡Visite nuestro instagram haciendo clic <a href="https://www.instagram.com/paperkoda?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">aqui</a>!</div>
    </div>
    
    <div class="qr_page">
        <div>
            <img src="../assets/img/paperkoda_qr.png" alt="PaperKoda QR" width="300px">
        </div>
        <div>O escaneando nuestro QR.</div>
    </div>
</div>
