.onSale {
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.onSale td {
  border: none;
  background-color: lightgreen;
}

td {
  vertical-align: middle;
}

#input-field{
  align-items: center;
}

#btn-comprar {
    display: block;
    margin: 5px auto 0 auto;
}
