<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for (maqueta of maquetas; track maqueta.name) {
        <tr [ngClass]="{'onSale':maqueta.onSale}">
            <td ><img [src]="maqueta.image" [alt]="maqueta.name" width="100px"></td>
            <td>{{maqueta.name}}</td>
            <td>{{maqueta.type}}</td>
            <td>{{maqueta.price |currency }}</td>
            @if(maqueta.stock > 0) {
                <td>{{maqueta.stock}}</td>
            } @else {
                <td><span class="badge bg-warning">Sin stock</span></td>
            }
            <td>
                <app-input-integer [(quantity)]="maqueta.quantity" [max]="maqueta.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>

        </tr>
        }@empty{
            <tr>
                <td colspan="5" class="text-center">No hay maquetas disponibles</td>
            </tr>
        }
    </tbody>
</table>
