.onSale {
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.onSale td {
  border: none;
  background-color: lightgreen;
}

input{
  width: 15%;
  height: 100%;
  text-align: center;
}
