.onSale {
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.onSale td {
  border: none;
  background-color: lightgreen;
}

input{
  width: 15%;
  text-align: center;
}

.input-group{
  max-height: 50%
}

td {
  vertical-align: middle;
}